@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');


body{
	background-color: #1D2228;

}
* {
	box-sizing: border-box;
  }
  
.nav {
	height: 50px;
	width: 100%;
	position: relative;
  }
  
  .nav > .nav-header {
	display: inline;
  }
  
  .nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 22px;
	color: #fff;
	padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
	display: none;
  }
  
  .nav > .nav-links {
	display: inline;
	float: right;
	font-size: 18px;
	color:white
  }
  
  .nav > .nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	font-family: 'ABeeZee';
	text-decoration: none;
	color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
	color:#FB8122;
	transition: all ease-in-out 250ms;
	font-family: 'ABeeZee';
  }
  
  .nav > #nav-check {
	display: none;
  }
.python{
	padding-left: 30px;
}
.python i{
	margin-left:33px;
}
.fa-python {
    font-size: 6em; /* Adjust the size as needed */
  }
  .fa-database
  {
	font-size: 6em;
	color: white;

  }

  .fa-aws{
	
	font-size: 6em;
	color: white;
  }
  .fa-html5{
	
	font-size: 6em;
	color: white;
  }
  .fa-css3-alt{
	font-size: 6em;
	color: white;
  }
  .fa-github{
	
	font-size: 6em;
	color: white;
  }
  .fa-linux{
	
	font-size: 6em;
	color: white;
  }
  .fa-ubuntu{
	
	font-size: 6em;
	color: white;
  }
  .fa-r-project{
	
	font-size: 6em;
	color: white;
  }
  .fa-php{
	
	font-size: 6em;
	color: white;
  }
  .fa-js
  {
	font-size: 6em;
	color: white;
  }
.container{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 30px 10%;
}
.container .main-title{
	max-width: 700px;
	margin: 0px auto;
	text-align: center;
	font-family: 'ABeeZee';
}
.container .main-title h1{
	position: relative;
	font-size: 40px;
	color: #FB8122;;
	margin-bottom: 30px;
	display: inline-block;
}
.container .main-title h1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color:white;
}
.container .main-title h1::after{
	content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	background-color:white;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
}
.main-title p{
	color:white;
}
.container .second-title{
	max-width: 700px;
	margin: 0px auto;
	text-align: center;
	font-family: 'ABeeZee';
}
.container .second-title h1{
	position: relative;
	font-size: 40px;
	color: #FB8122;;
	margin-bottom: 30px;
	display: inline-block;
}
.container .second-title h1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color:white;
}
.container .second-title h1::after{
	content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	background-color:white;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
}
.main-title p{
	color:white;
}

.container .head p{
    color: white;
    font-family: 'ABeeZee';
    line-height: 1.6; /* Line height */
  margin-bottom: 20px;
  }
  .container .head {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center vertically */
  
  }
  .container .head p{
	line-height: 1.6; /* Line height */
	margin-bottom: 20px; /* Bottom margin */
	padding-left: 10%; /* Left indentation */
	padding-right: 10%; /* Right indentation */
	margin-top: 90px;
  }
.container .row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}
.row .col{
	flex-basis: 46%;
}
.row .sub-title h2{
	position: relative;
	color: #FB8122;
	font-size: 22px;
	font-family: helvetica;
	display: inline-block;
	margin-bottom: 30px;
}
.row .sub-title h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #808080;
}
.row .sub-title h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	top: calc(125% - 1px);
	left: 0;
	background-color:white;
}
.subject{
	font-size: 18px;
	font-weight: thin;
	color: #FB8122;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-family: 'ABeeZee';
}
.progress-bar{
	position: relative;
	width: 100%;
	height: 5px;
	background-color: #808080;
	border-radius: 15px;
	margin-bottom: 20px;
}
.progress-bar::after{
	position: absolute;
	content: attr(value);
	top: -35px;
	right: 0;
	color:#FB8122;
	font-size: 18px;
}
.progress-line{
	position: absolute;
	width: 0%;
	height: 7px;
	background-color:white;
	border-radius: 15px;
	top: -1px;
	animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
@keyframes animate{
	100%{
		width: 100%;
	}
}
.progress-line::after{
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	background-color:white;
}
@media(max-width: 768px){
	.container{
		padding: 30px 8%;
	}
}
@media(max-width: 568px){
	.container .row{
		flex-direction: column;
	}
	.container .main-title h1{
		font-size: 36px;
	}
	.container .row{
		margin-top: 30px;
	}
	.row .col:nth-child(2){
		margin-top: 20px;
	}
}

@media (max-width:600px) {
	.container .head p{
		line-height: 1.7; /* Line height */
		margin-bottom: 20px; /* Bottom margin */
		padding-left: 5%; /* Left indentation */
		padding-right: 1%; /* Right indentation */
		margin-top: 170px;
		
		
	  }
.image{
	background-position: 45%;
	opacity: 0.1;
	margin-left: -270px;
	margin-top: 80px;
}
	.quote{
		text-align: center;
		font-size: 18px;
	}
	.container .main-title h1{
		font-size: 20px;
		margin-top: 38px;
	}
	.container .python i{
		font-size:4em;
		align-items:center;
		margin-top: 20px;
		margin-left: 4px;
	}
	.container .python {
	margin-left: -15px;
	}
	.nav > .nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	  }
	  .nav > .nav-btn > label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	  }
	  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
		color:#FB8122;
		transition: all ease-in-out 250ms;
		font-family: 'ABeeZee';
	  }
	  .nav > .nav-btn > label > span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	  }
	  .nav > .nav-links {
		position: absolute;
		display: block;
		width: 50%;
	   height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	  }
	  .nav > .nav-links > a {
		display: block;
		width: 100%;
		
	  }
	  .nav > #nav-check:not(:checked) ~ .nav-links {
		height: 0px;
	  }
	  .nav > #nav-check:checked ~ .nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	  }
}